*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #FFFFFF;
    padding: 20px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}
nav li{
    display: inline;
    text-decoration: none;
    margin: 0 32px;
    font-size: 16px;
    font-weight: 500;
}
header nav button{
    font-size: 16px;
    font-weight: 600;
    background-color: #269153;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;;
}