*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #FFFFFF;
    padding: 20px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline;
    text-decoration: none;
    margin: 0 32px;
    font-size: 16px;
    font-weight: 500;
}
header nav button{
    font-size: 16px;
    font-weight: 600;
    background-color: #269153;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;;
}

.hero-section {
    background: url(../images/hero-bg.png) no-repeat center;

}

.main-div{
    padding:154px 341px;

}

#early-access{
    height: 36px;
    max-width: 229px;
    text-align: center;
    background-color: #FFFFFF;
    color: #30B868;
    padding:8px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    margin: 0 auto;
    
}

.heading{
    margin: 16px auto;
    max-width: 770px;
}
.heading h1{
    text-align: center;
}
#white-text{
    color: #FFFFFF;
}
#green-text{
    color: #30B868;
}
.paragraph{
    margin: 16px 0;
    max-width: 1360px;
}
.paragraph p{
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.button-div{
    display: flex;
    justify-content: center;
}
.button-div button{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
}
#button1{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
}
#button2{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}