*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #FFFFFF;
    padding: 20px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline;
    text-decoration: none;
    margin: 0 32px;
    font-size: 16px;
    font-weight: 500;
}
header nav button{
    font-size: 16px;
    font-weight: 600;
    background-color: #269153;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;;
}

.hero-section {
    background: url(../images/hero-bg.png) no-repeat center;
    background-size: cover;

}

.main-div{
    padding:154px 341px;

}

#early-access{
    height: 36px;
    max-width: 229px;
    text-align: center;
    background-color: #FFFFFF;
    color: #30B868;
    padding:8px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    margin: 0 auto;
    
}

.heading{
    margin: 16px auto;
    max-width: 770px;
    font-size: 30px;
}
.heading h1{
    text-align: center;
}
#white-text{
    color: #FFFFFF;
}
#green-text{
    color: #30B868;
}
.paragraph{
    margin: 16px auto;
    max-width: 1360px;
}
.paragraph p{
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.button-div{
    display: flex;
    justify-content: center;
}
.button-div button{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
}
#button1{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
}
#button2{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}
.second-section{
    background-color: #FFFFFF;
    padding: 0 120px;
}
.heading2{
    max-width: 1360px;
    margin:0 auto;
}
.heading2 h2{
    font-size: 30px;
    text-align: center;
    margin:25px 0 16px 0; 
}
.heading2 p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 44px;
    color: #627382;
}

.note-card{
    max-width: 1360px;
    display: flex;
    justify-content: center;
    gap:24px;
    margin:0 auto;
}
.card{
    padding:50px 15px 20px 15px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.card img{
    padding: 12px;
    margin-bottom:16px;
    background-color: #F95555;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: block;
    margin:0 auto;

}
.card h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin:16px 0;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}
.third-section{
    padding: 120px;
    background-color: #FFFFFF;
    z-index: 1;
}
.third-section .main{
    max-width: 1360px;
    display: flex;
    gap:60px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.third-section .img-div img{
    height: 600px;
    width: 600px;
}
.third-section .text-div{
    max-width: 700px;
    margin: auto 0;
}
.the-solution{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}
.third-section .text-div h2{
    font-size: 48px;
    font-weight: 700;
    margin:16px 0;
    color: #001931;
}
.third-section .text-div #second-para{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
    text-align: justify;
}
.img-para img{
    margin-right:6px;
}
.img-para p{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #001931;

}

.main-container{
    padding: 0 120px 120px 120px;
    background-color: #FFFFFF;
}

.items-container{
    max-width: 1360px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #F7F6F2;
}
.items{
    padding:80px 0;
    text-align: center;
}
.items h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.items p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.items button{
    margin: 24px 0 16px 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    text-align: center;
}